.box {
    width: 100%;
    margin: 0 auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
}

.required::after {
    content: "*";
    color: red;
    font-size: 15px;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* turn into two columns on larger screens */
.row.two-cols {
    flex-direction: row;
    flex-wrap: wrap;
}

.row.two-cols .box {
    width: 48%; /* 2 items per row */
}

.box input {
    padding: 20px;
    width: 100%;
    height: 50px;
}
p{
    text-align: left;
}