
    Mobile-first default styles
body {
  font-size: 16px;
  padding: 10px;
}
.intro{
    position: relative;
    padding: 50px; 
    color:black ;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 500px;

}

.text {
    position: absolute;
    padding: 20px;
    line-height: 3;
    top: 50%; 
    left: 10%;
    transform: translate(0,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 30px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow:
    2px 2px 60px rgba(0,0,0,0.5), /* soft main shadow */
    0 0 90px rgba(245,245,245,0.2); /* subtle glow effect */
}
.container {
  display: block;
  width: 100%;
}

/* Tablet and up */
@media (min-width: 768px) {
  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
}

/* Desktop and up */
@media (min-width: 1200px) {
  .container {
    width: 60%;
  }
}

.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", system-ui ;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}/* google font */

